/*3shan yb2a el bar fixed w ynzl w ytl3 ma3aya///////////////////////////////*/
.bar-top
{position:fixed;
  width:100%;
  z-index:1;}
/*/////////////3shan yb3d el 7orof shwia 3n b3d w 3shan nedelo lon////////////////////////////////////////////////////////*/
.bar-white{color:rgb(63, 63, 56);
  background-color:rgb(255, 255,255,0.6) ;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  font-size: 18x}
/*///////////////////btkbr w tsghr el bar//////////////////////////////////////////////////*/
.bar-padding{ padding-bottom:18px;  letter-spacing:8px}
.bar-card,.bar-card-2{padding-bottom:20px; box-shadow:0 2px 5px rgba(20, 19, 19, 0.16),0 2px 10px 0 rgba(39, 37, 37, 0.12)}
/*////////////////////////////////3shan n7ot 7agat f2akhr el bar in the right/////////////////////////////////////*/
.bar-content-right{float:right}
.bar-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;
text-decoration:none;color:inherit;background-color:inherit;cursor:pointer;white-space:nowrap}
.bar-button{width:100%}
.bar-button:hover{color:white;background-color:rgb(223, 87, 87)}
.bar-bar-item{text-align:center}
.bar-bar-item{padding:1px 20px;float:left;width:auto;border:none;display:block}
/*//////////////////////////////////////////////////////////////////////////*/
.animate-fading{animation:fading 5s infinite}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.content
{margin-left:auto;
  margin-right:auto }
  /*...........................................................................................*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

/* Create three equal columns that floats next to each other */
.column { background-color: rgba(0, 0, 0,0.6);
  color: white;
  float: left;
  width: 32%;
  padding: 4px;
  margin-left: 10px;
  margin-right: 3px;
}
.row {
  content:"";
  display: table;
  clear: both;
}
/*////////////////////////////////////images of the toys offers/////////////////////////////////////////////////////////////////////*/
.newt {
  box-shadow: 5px 4px 8px 7px rgba(0,0,0,0.2);
  width: 12%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(129, 16, 78);
  float: left;
  margin-left:15px;
  margin-right:45px;
  margin-top:10px;
  margin-bottom: 40px;
}

.newt:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.newt-con { 
  padding: 2px 16px;
}/*///////////////////////////////////column background///////////////////////////////////////////*/
.fbg{
  background-image: url('thi.jpg');
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 80px 0px;
}/*///////////////////////////////////content of flag image///////////////////////////////////////////*/
.first{ float: right;
  width: 65%;
  margin-left: 10px;
  color: rgb(41, 70, 32);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right:10px;
}.secand{
  width: 33%;
  float:left;}
/*///////////////////////////////////10% image///////////////////////////////////////////*/

.asideimg{
  width: 35%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(41, 70, 32);
/*///////////////////////////////////flags images///////////////////////////////////////////*/
}.imgg{
  border-radius: 50%;
  margin-left:50px; 
}

.footercol{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(226, 219, 219, 0.884);
  float: left;
  width: 20%;
  padding: 4px;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 3px;
}
/*///////////////////////////////////SERVICE PAGE///////////////////////////////////////////*/

.ser_bg1{
    float: left;
    width:40%;
    color:rgb(0, 85, 85);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
} 
  /*///////////////////////////////CONTACT US//////////////////////////////////////////////////*/
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
 
}

input[type=submit] {
  width: 100%;
  background-color: rgb(18, 114, 192);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(17, 99, 167);
}
.divform {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  padding-bottom: 5px;
margin:0px 400px;
}